@import '../../scss/abstracts/variables';

.navigation {
    align-items: center;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5.6rem;
    padding: 4.8rem 8%;

    &__links {
        display: flex;
        justify-content: space-between;
        width: 20rem;

        &_item {
            color: black;

            &:hover>.navigation__links_item_underline {
                width: 100%;
            }

            &:hover>.navigation__links_item_hidden {
                opacity: 1;
                padding-left: 0.6rem;
            }

            &_underline {
                background-color: $color-primary;
                height: 0.1rem;
                transition: all 250ms ease-in-out;
                width: 0;
            }

            &_hidden {
                color: $color-primary;
                display: inline-block;
                opacity: 0;
                transition: all 250ms ease-in-out;
            }
        }
    }
}