@import '../../scss/abstracts/variables';


.projects-container {
    // background-image:
    //     linear-gradient(to bottom, rgba(white, 1), rgba(white, 0), rgba(white, 0), rgba(white, 1)),
    //     url("../../assets/img/landing-bg.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    color: white;
    display: grid;
    gap: 3.2rem;
    grid-area: work;
    grid-template-areas:
        "main"
        "second"
        "third";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 100vh;
    padding: 0 5% 5%;

    @media screen and (min-width: $large) and (orientation: landscape) {
        padding: 0 8%;
        width: 100%;
        grid-template-areas:
            "main main"
            "second third";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 75vh;
    }
}

.main {
    grid-area: main;
    height: 85vh;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}