@import '../../scss/abstracts/variables';


.projects {
    color: white;
    display: grid;
    gap: 3.2rem;
    grid-area: work;
    grid-template-areas:
        "main"
        "second"
        "third";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 100%;

    @media screen and (min-width: $large) and (orientation: landscape) {
        grid-template-areas:
            "main second"
            "main third";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__main {
        grid-area: main;
    }

    &__second {
        grid-area: second;
    }

    &__third {
        grid-area: third;
    }
}