@import '../../scss/abstracts/variables';

.projects-container {
    color: white;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "hero"
        "work";
    padding: 0 5%;

    @media screen and (min-width: $large) {
        gap: 3.2rem;
        grid-template-areas:
            "hero work";
        grid-template-columns: 1.45fr 2fr;
        grid-template-rows: 1fr;
        padding: 0 8%;
        height: 75vh;
    }
}

.hero {
    align-items: center;
    backface-visibility: hidden;
    background: $color-primary;
    border-radius: .2rem;
    display: flex;
    grid-area: hero;
    height: calc(97vh - 8.4rem);
    mix-blend-mode: multiply;
    padding: 2.4rem 2.4rem;
    transition: all 275ms ease-out;

    @media screen and (min-width: $large) {
        height: unset;

    }

    &:hover {
        background: darken($color-primary, 5%);
        box-shadow: 0px 6px 8px rgba(37, 40, 47, 0.22);
        transform: translateY(-2px);
    }

    &__title {
        margin-bottom: .8rem;
    }
}