@import '../../scss/abstracts/variables';

.thumbs {
    display: grid;
    gap: 3.2rem;
    grid-area: work;
    grid-template-areas:
    "main"
    "second"
    "third";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    @media screen and (min-width: $large) and (orientation: landscape) {
        grid-template-areas:
            "main main"
            "second third";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1.325fr;
        height: 75vh;
    }

    &__main {
        grid-area: main;
    }

    &__second {
        grid-area: second;
    }

    &__third {
        grid-area: third;
    }
}