.projects-container {
    color: white;
    display: grid;
    gap: 3.2rem;
    grid-template-areas:
        "hero work";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 12%;
    height: 75vh;
}

.hero {
    align-items: center;
    background: #4A7DFF;
    display: flex;
    grid-area: hero;
    mix-blend-mode: multiply;
    padding: 2.4rem 2.4rem;

    &__title {
        margin-bottom: .8rem;
    }
}

.work {
    display: grid;
    gap: 3.2rem;
    grid-area: work;
    grid-template-areas:
        "main main"
        "second third";
    grid-template-columns: 1.325fr 2fr;
    grid-template-rows: 2fr 1fr;

    &__main {
        grid-area: main;
    }

    &__second {
        grid-area: second;
    }

    &__third {
        grid-area: third;
    }
}