.project {
    width: 100%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;

    &:hover>.project__text {
        opacity: 1;
        transition: all 250ms;
    }

    &__text {
        opacity: 0;
        transition: all 250ms;

        &_title {}

        &_category {}
    }

}