@keyframes squishSquash {
    0% {
        // width: 1.2rem;
        padding-left: 2px;
    }
    28% {
        // width: 1.2rem;
        padding-left: 2px;
    }
    40% {
        // width: 1.6rem;
        padding-left: 6px;

    }
    50% {
        // width: 1.2rem;
        padding-left: 2px;

    }
    60% {
        // width: 1.6rem;
        padding-left: 6px;

    }
    80% {
        // width: 1.6rem;
        padding-left: 2px;

    }
    100% {
        // width: 1.2rem;
        padding-left: 2px;

    }
}