@import './scss/abstracts/variables';
@import './scss/abstracts/mixins';

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1em = 10px
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-family: "Lato", sans-serif;
  font-family: $font-primary;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .2px;
}

.heading--large {
  font-size: $size-400;

  @include respond-to(medium) {
    font-size: 3.4rem;
  }

  @include respond-to(xx-large) {
    font-size: $size-500;
  }
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.5em;
}