// Breakpoints
$small: 520px;
$medium: 800px;
$large: 1024px;
$x-large: 1200px;
$xx-large: 1440px;


// Typography
$font-primary: 'proxima-nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

// Colors
$color-primary: #316bff;